body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb{
  width: 16px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 6px solid transparent;
  background-color: rgba(0,0,0,.15);
}

body::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px rgba(65,106,154);
}

#help::-webkit-scrollbar,
#help::-webkit-scrollbar-thumb{
  width: 16px;
  border-radius: 8px;
  background-clip: padding-box;
  border: 6px solid transparent;
  background-color: rgba(0,0,0,.15);
}

#help::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px rgb(252, 171, 50);
}